# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# Install instalation_done marker left by install script
/.buildpath
/.project

# Eclipse settings
.settings

# PHPStorm
.idea
